*, *::before, *::after { 
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}

.hidden {
  display: none;
}

.text-center {
  text-align: center;
}

.error {
  color: #d8000c;
  background-color: #ffbaba;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
}
